*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0; */
}

.container{
    margin: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho{
    background-color: #fef4e5;
    height: 100px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.299);
    position: fixed;
    width: 100%;
}

.cabecalho img{
    width: 280px;
}

#icone{
    font-size: 30px;
    margin-left: 15px;
}


.carrossel img{
    width: 410px;
    height: 420px;
}

.carrossel{
    text-align: center;
    margin: 100px 0;
}

.carrossel button{
    padding: 12px 12px;
    margin: 20px 10px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.carrossel button:hover{
    transform: scale(0.8);
    transition: 0.3s;
    transform: rotateX('90°');
}

h1{
    background-color: rgb(255, 236, 196);
    padding: 60px 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

#main{
    padding-top: 100px;
    background-color: rgb(255, 236, 196);
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

input{
    width: 170px;
    height: 40px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    cursor: pointer;
    margin: 0 20px;
}

.input{
    text-align: center;
    margin: 20px 0;
}

button{
    padding: 10px 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.botoes{
    text-align: center;
}

#mensagem, #p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    text-align: center;
    padding-top: 20px;
}

#resultado, #resultado2, #resultado3{
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: 10px;
}

.resulNome, .resulAutor, .resulAno{
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

.resultados{
    background-color: rgb(255, 217, 160);
    width: 400px;
    margin-left: 560px;
    margin-top: 60px;
}

.resul1, .resul2, .resul3{
    display: flex;
}